@import './../../styles/variables.less';

.radioPanelGruppe--responsive {
    display: flex;
    flex-flow: row wrap;
    .radioPanelWrapper {
        flex: 1;
        max-width: 32%;
        padding: 0 0.5rem 0.5rem 0;
    }
}
