@import './../../styles/variables.less';

.radioPanelGruppe--responsive {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.5rem;
    margin-right: -1rem;

    .radioPanel {
        margin: 0 1rem 0.5rem 0;

        &__label {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    @media screen and (max-width: 576px) {
        display: block;

        .radioPanel {
            margin-bottom: 0.5rem;
        }
    }

    @media screen and (min-width: 577px) and (max-width: @tablet-breakpoint) {
        .radioPanelWrapper {
            flex-basis: 50%;
            width: 50%;
        }
    }

    @media screen and (min-width: (1 + @tablet-breakpoint)) {
        .radioPanelWrapper {
            flex-basis: 100% / 3;
            width: 100% / 3;

            &--twoColumns {
                flex-basis: 50%;
                width: 50%;
            }
        }
    }
}
