.dialogBox {
	align-items: center;
	display: flex;

	.dialogText {
		align-self: center;
		margin-left: 10px;
		margin-top: 4px;
	}

	.dialogImage {
		min-width: 96px;
	}
}

.dialogBox--info {
	border-top: 2px solid #c1b5d0;
	border-bottom: 2px solid #c1b5d0;
}

.dialogBox--alert {
	background: #e3b0a8;
}

.dialogBox--warning {
	background: #ffd399;
}

.dialogBox--success {
	background: #9bd0b0;
}
