@import '../../../styles/variables.less';

.headerIllustration {
	padding-top: 1rem;
	text-align: center;
	max-height: 420px;

	&__title {
		margin: 1rem 0 2rem 0;
		line-height: 1rem;
	}

	&__speechbubble {
		margin: 0 auto;
		width: 90%;
		max-width: 30rem;
		margin-bottom: 1rem;
	}

	&--purple {
		background: @c-purpleHeaderIllustrationBkg;
		border-bottom: 1rem solid @c-purpleLighten;
	}

	&--green {
		background: @c-greenHeaderIllustrationBkg;
		border-bottom: 1rem solid @c-greenLighten;
	}

	&--orange {
		background: @c-orangeHeaderIllustrationBkg;
		border-bottom: 1rem solid @c-orangeLighten;
	}
}
