.headerIllustration {
	background: #e0dae7;
	padding-top: 1rem;
	border-bottom: 1rem solid #826ba1;
	margin-bottom: 2rem;
	text-align: center;

	&__speechbubble {
		margin: 0 auto;
		width: 90%;
		max-width: 30rem;
		margin-bottom: 1rem;
	}
}
