@arrow-size: 0.5rem;
@bkgColor: #e7e7e7;
@dotSize: 0.8rem;

.arrowLeft() {
	content: '';
	z-index: 1;
	position: absolute;
	top: 1.2rem;
	left: -1 * @arrow-size;
	margin-left: -1 * @arrow-size;
	width: 0;
	height: 0;
	border-left: @arrow-size solid transparent;
	border-bottom: @arrow-size solid transparent;
	border-top: @arrow-size solid transparent;
	border-right: @arrow-size solid @bkgColor;
}

.hendelseDot(@borderColor) {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: @dotSize;
	height: @dotSize;
	border-radius: 50%;
	border: 1px solid @borderColor;
	margin-top: -1 * @dotSize/2 + 0.15rem;
	margin-left: -1 * @dotSize /2 + 0.15rem;
	background-color: white;
}

.gradering(@col1, @col2: #e7e7e7) {
	background: repeating-linear-gradient(
		0deg,
		@col1,
		@col1 2px,
		@col2 2px,
		@col2 4px
	);
}
.tidslinje {
	> .tidslinje__kalenderinnslag {
		margin-bottom: 1rem;

		margin-left: 4rem;
	}
}
.kalenderinnslag {
	position: relative;
	display: block;
	background-color: @bkgColor;
	padding: 1rem 1rem;
	&:before {
		.arrowLeft();
	}
	p {
		margin: 0;
	}
	&__linje {
		width: 5px;
		background-color: #66cbec;
		position: absolute;
		top: 1.3rem;
		bottom: -2.3rem;
		left: -2.9rem;
		z-index: 100;
		&--medforelder {
			left: -1.5rem;
			background-color: #a2ad00;
			&.kalenderinnslag__linje--gradert {
				.gradering(#a2ad00);
			}
		}
		&--gradert {
			.gradering(#66cbec);
		}
		&:before {
			.hendelseDot(red);
		}
		&:after {
			.hendelseDot(red);
			top: auto;
			top: initial;
			bottom: -1 * @dotSize + 0.25rem;
		}
		&--fortsetter {
			&:after {
				display: none;
			}
		}
	}
}

.formatert-dato {
	&__ukedag {
		text-transform: capitalize;
	}
}
