@arrow-size: 0.8rem;
@bkgColor: #e7e7e7;
@c-purple: #634689;
@c-blue: #3385d1;
@dotSize: 14px;
@dotBorderWidth: 3px;
@dotOffsetTop: @dotSize/2 - @dotBorderWidth/2;
@dotOffsetBottom: -1 * @dotOffsetTop - 1px;
@lineOffsetTop: 1.5rem;
@lineOffsetBottom: -2.55rem;

.leftArrow() {
	content: '';
	z-index: 1;
	position: absolute;
	top: 1.15rem;
	left: -1 * @arrow-size/1.8;
	width: @arrow-size;
	height: @arrow-size;
	border-left: 1px solid @c-purple;
	border-bottom: 1px solid @c-purple;
	background-color: white;
	transform: rotate(45deg);
}

.hendelseDot(@borderColor) {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: @dotSize;
	height: @dotSize;
	border-radius: 50%;
	border: @dotBorderWidth solid @borderColor;
	margin-top: -1 * @dotOffsetTop;
	margin-left: -1 * (@dotSize/2 - @dotBorderWidth) + 1;
	background-color: white; //rgba(255, 255, 255, 0.3);
}
.hendelseDotColor(@borderColor) {
	border-color: @borderColor;
}
.tidslinje {
	> .tidslinje__kalenderinnslag {
		margin-bottom: 1rem;
		margin-left: 4rem;
	}
}

.kalenderinnslag {
	position: relative;
	display: block;
	background-color: white;
	border: 1px solid @c-purple;
	border-radius: 2px;
	padding: 1rem;
	margin-top: -1px;
	margin-bottom: -2px;
	&:before {
		.leftArrow();
	}
	&__linje {
		width: 8px;
		background-color: @c-purple;
		position: absolute;
		top: @lineOffsetTop;
		bottom: @lineOffsetBottom;
		left: -2.9rem;
		z-index: 100;
		&:before {
			.hendelseDot(@c-purple);
		}
		&:after {
			.hendelseDot(@c-purple);
			top: initial;
			bottom: @dotOffsetBottom;
		}
		&--medforelder {
			left: -1.5rem;
			background-color: @c-blue;
			&:before {
				.hendelseDotColor(@c-blue);
			}
			&:after {
				.hendelseDotColor(@c-blue);
			}
		}
		&--fortsetter {
			&:after {
				display: none;
			}
		}
	}
}
