@import './../../../../../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import './../../../../../node_modules/nav-frontend-core/less/_variabler';

.backLink {
  color: @navMorkGra;

  &:hover, &:active {
    color: @navBla;
  }
}

.lenke {
  border-bottom: none;
}