@import '../../styles/variables.less';

.countryList {
    padding: 0;
    position: relative;
    &--summary {
        .countryListElement__country {
            font-weight: bold;
        }
    }
}

.countryModal {
    max-width: 26rem;
    min-height: 24rem;
    width: 100%;

    &__title {
        margin-bottom: @paddingLarge;
        text-align: center;
    }

    &__buttonBar {
        display: flex;
        .knapp:first-child {
            margin-right: 1rem;
        }
    }
}

.countryListElement {
    display: flex;
    padding-top: @paddingSmall;
    padding-bottom: @paddingSmall;

    &__editable {
        color: #0067c5;
        p {
            text-decoration: underline;
        }
    }

    &__date {
        white-space: nowrap;
    }

    &__delete  {
        position: absolute;
        right: 0;
    }
}

.countrySummaryElement {
    display: flex;
    padding-top: @paddingSmall;
    padding-bottom: @paddingSmall;
}
