.modalContent {
    max-width: 500px;

    &__header {
        padding-top: 32px;
        padding-bottom: 16px;
        text-align: center;
    }

    &__paragraph {
        padding-bottom: 10px;
    }


    &__subList {
        list-style-type: none;
    }

    ul {
        margin-top: 0;
    }
}