@import '../../styles/globals';
@import '../../styles/variables.less';

.engangsstonad {
	max-width: 600px;
	margin: 0 auto;
	padding: @stepPadding;

	.dialogBox {
		margin-top: @marginLarge;
		margin-bottom: @marginLarge;
	}
	.alertstripe {
		margin: @marginSmall 0;
	}

	.checkboxFieldWithBackground {
		background-color: #ccdee6;
		padding: 15px;
		display: flex;
	}

	.typo-element {
		margin-top: @marginLarge;
		margin-bottom: @marginMedium;
	}

	.typo-ingress {
		margin-top: @marginLarge;
		margin-bottom: @marginMedium;
	}

	.radioGroup {
		margin: @marginSmall 0;
	}

	.confirmCheckbox {
		margin: @marginLarge 0;
	}

	.linkIndicatorWrapper {
		position: relative;
		margin-bottom: 16px;

		&__link {
			position: absolute;
			bottom: 0.35rem;
		}
	}

	&__centerButton {
		display: flex;
		justify-content: center;
	}
	
	.paperVersionLink {
		display: inline-block;
		margin-top: @marginMedium;	
		margin-bottom: @marginLarge;
	}
}

.engangsstonadOppsumering {
	&__underTitle {
		border-bottom: 1px solid grey;
	}
}