@import "../../styles/globals";

.engangsstonad {
	.dialogBox {
		margin: @marginMedium 0;
	}
	.alertstripe {
		margin: @marginSmall 0;
	}

	.checkboxFieldWithBackground {
		background-color: #ccdee6;
		padding: 15px;
		display: flex;
	}
	.typo-element {
		margin: @marginSmall 0;
	}
	.radioGroup {
		margin: @marginSmall 0;
	}
}
